* {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: center;
  box-sizing: border-box;
  border: rgba(0, 0, 0, 0);
  font-family: "Heebo", sans-serif;
}
body{
  background-color: #F0F0F0;
}

.posts{
  margin: 160px auto 8px auto;
}