* {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: center;
  box-sizing: border-box;
  border: rgba(0, 0, 0, 0);
  font-family: "Heebo", sans-serif;
}
body{
  background-color: #F0F0F0;
}
.section-1 {
  width: 100%;
  margin: 68px auto 0px auto;
  background: #d7e3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 68px;
}
.button-style {
  padding: 0px 8px;
}
